#site{
	padding: 0px;
	margin: 0px;
	
	position: relative;
	top: 0px;
	transition: all ease 1s;
}

/*Fields to make new Article*/
#ArticleTable{
	
	margin-top: 5px;	
	margin-left: 4px;
	display: inline-block;
	
	vertical-align: top;
}

#fieldTitleArticle{

	display: flex;
	flex-direction: column;

	padding-left: 5px;
	
	/float: bottom;
	width: 26vw;
	height: max(3vh, 16px);
	resize: none;
	
	border: 2px solid black;
	font-size: max(max(1.2vh, 1.2vw), 13px);
	font-family: calibril;
	font-weight: bold;
}

#fieldTextArticle{

	padding: 5px;
	
	margin-top: max(1vh, 5px);
	
	width: 40vw;
	height: max(16vh, 25px);
	resize: none;
	
	border: 2px solid black;
	font-size: max(max(0.9vh, 0.9vw), 12px);
}
.buttonArticle{
	
	display: flex;
	flex-direction: column;
	
	margin: 6px;	
	margin-top: 0px;	
	
	height: max(min(5vh, 4vw), 50px);
	min-width: max(10vw, 80px);
	
	border: 2px solid black;
	border-radius: max(min(1vh, 1vw), 10px);
	
	background-color: rgba(255,255,255,0.7);
	 
	font-size: max(max(1.3vh, 1.3vw), 8px);
	/font-size: max(max(1vh, 1vw), 8px);
	font-family: calibril;
	font-weight: bold;
	text-align: center;	
	
	outline: none;
}

.buttonArticle:hover
{
	color: #7b7b7b;
	border-color: #7b7b7b;
}


#buttonAdd{

	background-color: rgba(167,220,156,0.8);
}