#menu{
	
	z-index: 1;
	
	position: relative;
	
	display: flex;
	
	background-color: #292f47;
	padding: 10px;
	
	border-bottom: 2px solid white;
	
	align-items: center;
}


#menuLeft{
	width: 80vw;

}
#menuRight{
	width: 20vw;
	display: flex;
	justify-content: flex-end;
}

#menuIco{
	
	content: url(./source/images/newspaper.png);
	width: max(min(6vw, 6vh), 30px);
}

.menuButton{
	
	margin: 0px max(min(0.5vh, 0.5vw), 3px) 0px max(min(0.5vh, 0.5vw), 3px);
	/margin: 0px max(min(2vw, 2vh), 6px) 0px min(max(2vw, 2vh), 6px); 
	
	padding: max(max(0.5vw, 0.5vh), 5px);
	
	border: 2px solid white;
	border-radius: max(max(0.5vw, 0.5vh), 6px);

	font-family: calibril;
	
	background-color: transparent;
	
	color: white;
	
	align-items: center;
	justify-content: center;

	outline: none;
	
	font-size: max(max(1vh, 1vw), 10px);
}

.menuButton:hover{
	
	border: 2px solid #dedede;
	color: #dedede;
}


/*
#menu button:active{
	
	box-shadow: inset 0px 2px 3px #63657d;
}*/

#buttonSignIn{
	min-width: 40px;
}

#buttonSubscribe{
	background-color: #88bd85;
	/background-color: #e86e6e;
}

#buttonSubscribe:hover{
	color: #5e5e5e;
	border-color: #5e5e5e;
}